nav{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: left;
    z-index: 1000;
}

body{
    padding-top: 80px;
}

.nav-button{
    display:inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #ffffff;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.nav-button:hover{
    background-color: #ccc;
}

.intro-journal{
    text-align: center;
    background-color: #333;
    color: #f4f4f4;
    padding: 25px 0px;
}

.show-more-less {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 12px 24px;
    font-size: 1.1rem;
    border: none;
    margin: 0px auto;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .show-more-less:hover {
    background-color: #555;
  }

.content {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1000px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
  }

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
  }

  .journal_img {
    width: 250px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

