.header{
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    padding-left: 20px;
    text-align: left;
}

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}


.spacer{
    margin-left: 20px;
}

.show-more-less {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 25px;
    width: 90%;
    box-sizing: border-box;
    margin-left: 5%;
}
.active, .show-more-less {
    background-color: #ffffff;
}
.content {
    padding: 15px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 5px;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 5.625rem;
    font-family: "Sacramento", cursive;
    margin: 0 auto 0 auto;
}

.top-container{
    background-color: rgb(34, 1, 30);
    text-align: center;
    margin-top: 0;
}

p{
    color: rgb(0, 0, 0);
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

h1{
    text-align: center;
    padding-top: 100px;
}   

img{
    display: inline-block;
    width: 25%;
    height: 25%;
    margin-left: 5%;
    padding: 10px 10px;
}
