body{
    color: #000000;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 5.625rem;
    font-family: "Sacramento", cursive;
    margin: 0 auto 0 auto;
}

h2{
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

.header{
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    padding-left: 20px;
    text-align: left;
}

.spacer{
    margin-left: 20px;
}


a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(165, 212, 178);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

.top-container{
    background-color: #1d1c1c;
    padding-top: 100px;
}

.top-container h2{
    color: #c6c9ca;
    margin-top: -20px;
}

video{
    padding-bottom: 15px;
}

.profile{
    padding-top: 50px;
    padding-bottom: 50px;
}

.dp{
    padding-left: 30px;
    padding-right: 30px;
}

.circle{
    border-radius: 100%;
}

#changingText{
    padding-top: 50px;
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}    

.research{
    background-color: #B3C8CF;
    padding-top: 25px;
    padding-bottom: 50px;
}

.research_interest{
    margin-left: 50px;
    margin-right: 50px;
}

.education{
    text-align: center;
}

.work{
    background-color: #B3C8CF;
    padding-top: 25px;
    padding-bottom: 50px;
}

.ustaad{
    text-align: left;
    margin-left: 10%;
    padding-bottom: 10px;
}

.civillink{
    text-align: left;
    margin-left: 10%;
}

.license a:link{
    color: black;
}

.hobbies a:link{
    color: black;
}
.hobbies a:last-of-type{
    color: black;
}

.bottom-container{
    background-color: #566d6d;
    color: black;
    margin-bottom: -50px;
}

.contact{
    text-align: left;
    margin-left: 5%;
}


.youtube_img{
    position: relative;
    top: -5%;
    left: 50%;
    margin-right:20px;
}

.bottom-container img{
    width: 5%;
}

.linkedin_img{
    position: relative;
    top: -5%;
    left: 35%;
}


